/* RESET Y ESTRUCTURA BASE */
* { box-sizing: border-box; }
body, html { margin: 0; padding: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: #000; background-image: url('../assets/img/fondo-pokemon.jpg'); background-size: cover; background-position: center; font-family: 'Press Start 2P', cursive; overflow: hidden; }

.pokedex { position: relative; width: 85%; max-width: 340px; min-height: 560px; background: linear-gradient(145deg, #ff4d4d, #b91c1c); border: 5px solid #1a1a1a; border-radius: 25px; display: flex; flex-direction: column; box-shadow: inset -8px -8px 0px rgba(0,0,0,0.2), 15px 20px 30px rgba(0,0,0,0.6); z-index: 10; }

/* PARTE SUPERIOR (LEDS Y LENTE) */
.pokedex-top { display: flex; padding: 20px; border-bottom: 4px solid #1a1a1a; gap: 15px; align-items: center; }
.big-blue-lens { width: 50px; height: 50px; background: radial-gradient(circle at 30% 30%, #4cc9f0, #2563eb); border: 4px solid #fff; border-radius: 50%; box-shadow: 0 0 15px rgba(76, 201, 240, 0.8); flex-shrink: 0; }

.led-container { display: flex; gap: 8px; }
.led { width: 12px; height: 12px; border-radius: 50%; border: 2px solid #1a1a1a; opacity: 0.4; flex-shrink: 0; }
.red { background: #ff0000; } .yellow { background: #ffff00; } .green { background: #00ff00; }
.led.animating { opacity: 1; animation: blink 0.8s infinite; }
.led.success { opacity: 1; background: #00ff00 !important; box-shadow: 0 0 15px #00ff00; }
@keyframes blink { 0%, 100% { opacity: 1; } 50% { opacity: 0.3; } }

/* PANTALLA */
.pokedex-body { padding: 20px; flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between; }
.screen-bezel { background: #e0e0e0; border: 4px solid #1a1a1a; border-radius: 12px 12px 12px 45px; padding: 12px 12px 25px 12px; }
.screen-black { background: #000; border-radius: 5px; height: 270px; display: flex; flex-direction: column; align-items: center; justify-content: center; border: 3px solid #333; overflow: hidden; position: relative; }

#pokedex-content { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 100%; text-align: center; }
.pokedex-text { color: #fff; font-size: 10px; line-height: 1.6; margin-bottom: 10px; text-transform: uppercase; }
.pokemon-sprite { width: 120px; image-rendering: pixelated; display: block; margin: 0 auto; transition: filter 0.3s ease, transform 0.5s ease; }
.is-pokeball { width: 85px !important; }

/* ANIMACIONES
